@model TripRadar.Models.Trip

<div>
    <h2>Archive</h2>

    <h3>Are you sure you want to archive this trip?</h3>

    @using (Html.BeginForm())
    {
        <div class="form-group">

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.StartLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartLocation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndLocation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TripTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TripTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TripDistance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TripDistance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.WeatherID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WeatherID)
                </dd>

            </dl>
       
        </div>

    <CENTER>
        <div class="form-actions no-color">
            <input type="submit" value="Yes" new { id=model.TripId } class="btn btn-primary" />
            @Html.ActionLink("No", "Index", " ", new { @class = "btn btn-primary" })
        </div>
    </CENTER>
      }
</div>
