@model TripRadar.Models.Trip

@{
    ViewBag.Title = "Delete";
}

<center>
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this trip?</h3>
</center>
@using (Html.BeginForm())
{
    <div class="form-group">

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndLocation)
            </dd>


        </dl>


       
        
        
    </div>
    <CENTER>
            <div class="form-actions no-color">
                <input type="submit" value="Yes" new { id = model.TripId } class="btn btn-primary" />
                @Html.ActionLink("No", "Index", " ", new { @class = "btn btn-primary" })
            </div>
        </CENTER>
}
