@model IEnumerable<TripRadar.Models.Trip>

@{
    ViewBag.Title = "Index";
}
<center>
    <h2>My Trips</h2>

    <br />
    @Html.ActionLink("Create Trip", "Create", " ", new { @class = "btn btn-primary" })
    <br>
    <br />
</center>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TripID }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Details", "ViewTrip", new { id = item.TripID }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.TripID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>

