@model TripRadar.Models.Trip

@{
    ViewBag.Title = "ViewTrip";
}

<h2>ViewTrip</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TripID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
