@model TripRadar.Models.TripWeatherView

@{
    ViewBag.Title = "ViewTrip";
}

<h2>ViewTrip</h2>

<div>
    <h4>Trip</h4>
    <hr />

    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Trip.StartLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip.StartLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip.EndLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip.EndLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trip.TripTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip.TripTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trip.TripDistance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip.TripDistance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Weather.DateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weather.DateTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Weather.MainTemp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weather.MainTemp)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Weather.Speedvalue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weather.Speedvalue)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Weather.Humidity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weather.Humidity)
            </dd>
        </dl>
    </div>
    <div class="col-md-8">
        <iframe width="800" height="600" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/directions?origin=@Model.Trip.StartLocation&destination=@Model.Trip.EndLocation&key=AIzaSyClqIXEuixfPAVE6ZoxSCO7zOFtX2rCpwA"></iframe>
    </div>


</div>

<div class="col-md-12">

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Trip.TripID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("View All Trips", "Index", " ", new { @class = "btn btn-primary" })
        @Html.ActionLink("Share", "SendEmail", new { id = Model.Trip.TripID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Archive", "Archive", new { id = Model.Trip.TripID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Places", "Places", new { id = Model.Trip.TripID }, new { @class = "btn btn-primary" })
    </p>

</div>

